:root
{
    --main-color: #FFF;
    --main-background: #FFA62F;
    --second-background: #FFC96F;
    --third-background: rebeccapurple;
}
*
{
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul { list-style: none; }
a { text-decoration: none; }

/* Header Styling ( start ) */
#header
{
    z-index: 1;
    background-color: var(--main-background);
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    transition: position 0.4s;
}
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
#header > div
{
    padding: 5px;
}
#header .logo
{
    /* no content yet! */
}
#header .logo img
{
    /* no content yet! */
}
#header .search
{
    /* no content yet! */
    flex: 0.5;
}
#header .search input
{
    border: 1px solid #DDD;
    padding: 8px;
    text-align: right;
    font-weight: 500;
    font-family: "Cairo", sans-serif;
    border-radius: 8px;
    width: 80%;
    font-size: 19px;
    outline: none;
}
#header .search button
{
    font-size: 19px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #FFF;
    cursor: pointer;
    background-color: var(--main-background);
    color: #FFF;
    font-weight: bold;
    transition: background-color 0.4s;
}
#header .search button:hover
{
    background-color: var(--second-background);
    border-color: var(--second-background);
}
#header .help
{
    /* no content yet! */
}
#header .help a
{
    color: #FFF;
    border: 2px solid #DDD;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--main-background);
    transition: all 0.4s;
    margin-left: 10px;
    font-size: 21px;
}
#header .help a:hover
{
    background-color: var(--third-background);
    border-color: var(--third-background);
}
/* Header Styling ( end ) */

/* Slideshow Styling ( start ) */
.slideshow
{
    text-align: center;
    max-width: 80%;
    position: relative;
    margin: 10px auto;
}
img
{
    vertical-align: middle;
    border-radius: 4px;
}
.prev,
.next
{
    position: absolute;
    font-size: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: var(--main-background);
    font-weight: bold;
}
.prev { left: 16%; }
.next { right: 12%; }
.dots { text-align: center; }
.dots .dot
{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--main-background);
}
.dot.active, .dot:hover {
    background-color: var(--main-background);
}
.fade
{
    animation: fade 1.4s;
}
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
/* Slideshow Styling ( end ) */

/* Poster Styling ( start ) */
.poster
{
    width: 80%;
    margin: auto;
    padding: 20px;
}
/* Poster Styling ( end ) */